language: python
sudo: false

addons:
  apt:
    packages:
      - pandoc
      
install:
  - pip install tox
script:
  - tox -r
matrix:
    include:
        - python: 3.7
          env: TOXENV=style
          dist: xenial
          sudo: true

        - python: 3.7
          env: TOXENV=coverage
          dist: xenial
          sudo: true

        - python: 3.6
          env: TOXENV=py36
          dist: xenial
          sudo: true

        - python: 3.7
          env: TOXENV=py37
          dist: xenial
          sudo: true

        - python: 3.7
          env: TOXENV=docstyle
          dist: xenial
          sudo: true

        - python: 3.7
          env: TOXENV=docs
          dist: xenial
          sudo: true

after_success:
  bash <(curl -s https://codecov.io/bash)